*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(bg.jpg);
    background-size: cover;
    /*background-position:center;*/
    /*box-sizing: border-box;*/
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-bar{
  /* background-color: rgb(124, 213, 218);*/
    text-align: center;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
     width: 120px;
     margin: 30px;
     padding: 5px;
     font-size: 20px;
     font-weight: 600;
     
}
.menu-bar ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.active, .menu-bar ul li:hover{
     background-color: rgb(92, 197, 216);
     border-radius:  15px 15px;
}
.menu-bar .fa{
    margin-right: 3px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: rgb(141, 206, 223);
    border-radius: 0px 35px;
    margin-top: 10px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted rgb(255, 255, 255);
    text-align:center;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
   color: rgb(0, 17, 255);
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(193, 222, 224);
    border-radius:0px 35px ;
}